@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #00252e;
  background-color: #fafafa; }

img {
  display: block;
  max-width: 100%; }

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.main__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "feature-text feature-img-cont";
  box-shadow: -1px 2px 37px -6px rgba(0, 0, 0, 0.75);
  margin: 4em 0;
  border-radius: 15px; }

.main__feature-img-cont img {
  padding: 2em 3em; }

.main__feature-text {
  padding-top: 8em;
  padding-left: 3em; }

.main__feature-title {
  padding-bottom: 1em; }

.main__feature-desc {
  color: #808d99; }

.main__features-reverse {
  display: flex;
  flex-direction: row-reverse; }

.banner {
  text-align: center;
  box-shadow: -1px 2px 20px -6px rgba(0, 0, 0, 0.75);
  margin: 2em 0;
  border-radius: 30px;
  padding: 70px;
  width: 100%; }

.banner h2 {
  padding-bottom: 1em; }

.banner__btn {
  background-color: #ff52bf;
  color: white;
  text-shadow: 1px 1px 2px 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 2em; }

.banner a {
  padding: .6em 3em;
  text-decoration: none;
  border-radius: 100px; }
