@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #00252e;
  background-color: #fafafa; }

img {
  display: block;
  max-width: 100%; }

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.footer {
  background-color: #00252e;
  color: #ebfbff; }
  .footer__main {
    display: flex;
    justify-content: space-between;
    padding-top: 5em; }
  .footer__col-1 {
    width: 35%;
    margin-right: 10em; }
    .footer__col-1 div {
      display: grid;
      grid-template-columns: 1fr  11fr; }
      .footer__col-1 div a {
        margin: 0 0 2em 0; }
  .footer__col-1-link {
    color: #ebfbff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; }
  .footer__col-2 a {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature-text feature-img-cont"; }
  .footer__col-2-link {
    color: #ebfbff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; }
  .footer__col-3 a {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature-text feature-img-cont"; }
  .footer__col-3-link {
    color: #ebfbff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; }
  .footer__col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    color: #ebfbff; }
  .footer__social-link {
    padding: 10px;
    margin: 10px;
    color: #808d99;
    border: 1px solid #808d99;
    border-radius: 50%; }
  .footer__copyright {
    text-align: right;
    font-size: 12px;
    font-weight: bold; }

.attribution {
  font-weight: bold; }

@media screen and (max-width: 1024PX) {
  .footer {
    background-color: #00252e;
    color: #ebfbff; }
    .footer__main {
      flex-direction: column;
      align-items: flex-start; }
    .footer__col-1 {
      width: 100%;
      margin-bottom: 2em; }
    .footer__col-2 {
      width: 100%;
      margin-bottom: 2em; }
    .footer__col-3 {
      width: 100%;
      margin-bottom: 2em; }
    .footer__col-4 {
      width: 100%;
      margin-bottom: 2em; }
    .footer__copyright {
      text-align: center; } }
